<!-- <h2>My Currencies :</h2>
<ul class="heroes">
  <li *ngFor="let currence of Currencies"
    [class.selected]="currence === selectedCurrencie"
    (click)="onSelect(currence)">
    <span class="badge">{{currence.id}}</span> {{currence.currency_type}}
  </li>
</ul>

<div *ngIf="selectedCurrencie">

  <h2>{{selectedCurrencie.Id}} Details</h2>
  <div><span>id: </span>{{selectedCurrencie.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedCurrencie.currency_type" placeholder="name">
    </label>
  </div>

</div> -->
<!-- <h1>{{person.name}} {{person.lastname}}</h1> -->

<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<router-outlet></router-outlet>
